POSTGRES_USER=valometrics
POSTGRES_PASSWORD=valometrics
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=valometrics

DATABASE_URL=

CORS_ORIGINS=["http://localhost:5173"]

HENRIKDEV_API_KEY=HDEV-4913d1c3-5044-4f7e-ba4c-658e19987652
